@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');


body{
    background-color: #edf2f8;
    padding: 13em 25em 10em 25em;
    display: flex;
    flex-direction: column;
}

.box{
    display: flex;
    background-color: white;
    border-radius: 3%;
    width: 800px;
    height: 312px;
    box-shadow: 0px 45px 45px 0px #dbe4ee;
}

.image{
    width: 312px;
    height: 311px;
    border-radius:3% 0 0 3%;
}

.imagep {
    width:50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    float: left;
}

.share{
    float: right;
    width: 15px;
    height: 15px;
    align-items: center;
}
.p1{
    font-size: 18px;
    font-weight: 700;
    line-height:30px;
    color: #495163;
}

.p2{
    font-size: 15px;
    font-weight: 500;
    line-height:20px;
    color: rgb(161, 161, 161);
}

.main {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family:'Manrope';
    text-align: left;
    font-size: 15px;
    width: 312;
    height: 446;
}

.name{
    font-size: 15px;
    font-weight: 700;
    margin-left: 70px;
    color: #495163;
}

.date{
    font-size: 15px;
    margin-left: 70px;
    color: rgb(161, 161, 161);
}

.footer{
    align-self: center;
    line-height: 100px;
}